//- html layout
html
  head
    //- importing bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
  body
    nav(class="navbar navbar-light bg-faded")
      //- link to register page
      a.btn(href="./register") register
      //- login for users
      input( type="password", name="password", placeholder="your password", style="float:right")
      input( type="text", name="username", placeholder="your username", style="float:right")
      input( type="submit", style="float:right")




    //- render your content here from each page
    block content
