html
  head
    Blog app: dashboard
    //- importing bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
  body
    p Your info here :
    ul
      for item in results
        li= item

    form( action="/register", method="post" )
        input( type="text", name="firstname", placeholder="John" )
        input( type="text", name="lastname", placeholder="Doe" )
        input( type="email", name="email", placeholder="john@doe.com" )
        input( type="text", name="username", placeholder="Your username" )
        input( type="password", name="password", placeholder="password" )
        input( type="submit" )
