html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
    //link(rel="stylesheet" href="/css/application.css")
  body
    H1 bulletin board
    form(action="/notices/" method="post")
      Input(name="title" )
      textarea(name="body" style="width:250px;height:150px;" method="post")
      button(type="button" class="postMessage") submit message :)



    block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="./index.js")
