//- html layout
html
  head
    //- importing bootstrap
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")
  body
    a(type="button", href="/") home
    a(type="button", href="/dashboard") dashboard
    a(type="button", href="/logout" style="float:right") logout
    nav(class="navbar navbar-light bg-faded")
      form( action="/", method="post" )
        //- link to register page
        a.btn(href="./register") register
        //- login for users
        span(id="error")
        input( type="password", name="password", placeholder="your password", style="float:right")
        input( type="text", name="username", placeholder="your username", style="float:right")
        input( type="submit", style="float:right")
    ul
      p
        li= post.title
        li= post.body
        li= post.userId
        ul
          each comment in post.comments
            p
              li= comment.body


        form( method="post" )
          input(type="hidden" name="postId" value= post.id)
          textarea( type="text", name="body", rows="5", cols="80", placeholder="your message" )
          input( type="submit" )



    //- render your content here from each page
    block content
